@charset "UTF-8"

;body{
    background-color: rgb(254, 254, 254);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    margin: 0px 0px 30px;
}
header nav ul{
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-weight: bold;
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin: 30px; 
    border: solid 2px black;
    padding: 3px ;
    width: 80px;
}
header h1{
    font-family: 'Arial Black',sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 30px;
}
header h1 span{
    background-image: linear-gradient(135deg,#9900FF 20%,#4fd9ff 80%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.timeline{
    max-width: 400px;
    width:100%;
    margin:50px auto;
    padding:0 30px;
  }
  
  .timeline li{
      /*線の起点とするためrelativeを設定*/
      position: relative;
    list-style: none;
    padding:0 0 20px 0;
  }
  
  .timeline dl{
    margin:0 0 20px 3em;
  }
  
  .timeline dd strong{
    display: block;
    padding:10px 0;
  }
  
  /*絶対配置で線を設定*/
  .border-line {
      /*線の位置*/
    position: absolute;
    left:0.2em;
    top:0;
    width:2px;/*線の太さ*/
    height:0;/*はじめは高さを0に*/
    background: #ccc;
  }
  
  /*タイムラインの見出し横の丸の位置と形状*/
  .timeline li::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:10px;
    height: 10px;
    background:#666;
    border-radius: 50%;
  }
footer{
    background-color: #008BBB;
    color: #ffffff;
    text-align: center;
    padding: 14px 10px 20px;
    font-family: 'Kaiti SC',sans-serif;
}
